.main-container.gallery {
    .gallery-container {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 2rem;
        img{
            object-fit: cover;
            width: 100%;
            height: 18rem;
            border-radius: 0.5rem;
        }
    }

}