.main-container.home {
    .hero {
        justify-content: space-between;
        background-color: var(--color-primary-light-50);
        /* background-image: url(../../assets/download.svg);
        background-repeat: repeat;
        background-size: 20px 20px;
        filter: opacity(20%); */

        img {
            width: 35vw;
            border-radius: 0.5rem;
        }
    }

    .products {
        background-color: var(--color-primary-light-50);

        .card-container {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 2rem;

            .card {
                padding: 0;
                display: grid;
                grid-template-rows: repeat(1, minmax(0, 1fr));
                border: none;
                background-color: white;
                /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */

                .text-wrapper {
                    padding: 2rem 1rem;
                }

                img {
                    border-radius: 0.5rem 0.5rem 0 0;
                    max-height: 300px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .review {
        svg {
            color: gold;
        }
    }

    .start-journey {
        background-color: var(--color-primary);

        button {
            background-color: white;
            color: var(--color-primary);
        }
    }
}

/*======== MEDIA QUERIES (MEDIUM DEVICES) ======== */
@media screen and (max-width: 1024px) {
    .main-container.home {
        .hero {
            flex-direction: column;
            align-items: flex-start;

            img {
                width: 100%;
            }

        }


        .products {
            .card-container {
                grid-template-columns: none;
            }
        }

    }
}


/*======== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width: 768px) {
    .main-container.home {
        .hero {
            flex-direction: column;
            align-items: flex-start;

            img {
                width: 100%;
            }

            .btn-container {
                flex-direction: column;
            }
        }
    }
}