.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-box {
  background: white;
  padding: 2rem;
  width: 420px;
  max-width: 95%;
  border-radius: 12px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}

.modal-box.cart {
  .heading-wrapper {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 1rem;
  }
  button.primary{
    width: 100%;
  }
  .total-value {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 1rem;
    text-align: end;
  }
}