.header {
  width: 100%;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.nav-desktop .nav-link {
  font-weight: 600;
  text-decoration: none;
  color: #333;
  padding-bottom: 4px;
  transition: 0.2s;
}

.nav-desktop .nav-link:hover {
  color: #000;
}

/* ACTIVE PAGE */
.nav-desktop .nav-link.active {
  color: var(--color-primary);
  /* your theme color */
  border-bottom: 2px solid var(--color-primary);
}

.logo {
  height: 45px;
}

/* DESKTOP NAV */
.nav-desktop {
  display: flex;
  gap: 24px;
  font-weight: 600;
}

.user-desktop {
  font-size: 22px;
  cursor: pointer;
}

/* BURGER BUTTON (mobile only) */
.burger {
  font-size: 26px;
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* MOBILE MENU PANEL */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  max-width: 300px;
  height: 100vh;
  background: white;
  padding: 24px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 1;
  transition: right 0.3s ease;
}

.mobile-menu.open {
  right: 0;
}

.close-btn {
  font-size: 26px;
  background: none;
  border: none;
  margin-left: auto;
  cursor: pointer;
}

.mobile-logo {
  height: 60px;
  margin-bottom: 20px;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 18px;
  font-weight: 600;

  .nav-link {
    font-weight: 600;
    text-decoration: none;
    color: #333;
    padding-bottom: 4px;
    transition: 0.2s;
  }
}

.mobile-user {
  margin-top: auto;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .nav-desktop,
  .user-desktop {
    display: none;
  }

  .burger {
    display: block;
  }
}