footer {
    padding: 5rem 5rem 1rem 5rem;
    background-color: var(--color-primary-light-50);

    .text-wrapper {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));

        img {
            max-width: 6rem;
        }

        .column-3 {
            svg {
                color: var(--color-primary);
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    footer{
        padding: 5rem 5rem 1rem 5rem;
        .text-wrapper {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}


/*======== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width: 768px) {
footer{
        padding: 1rem;
        .text-wrapper {
            grid-template-columns: none;
        }
    }
   
}