.main-container.products {
    .intro{
         background-color: var(--color-primary-light-50);
    }
    .products {
        .card-container {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 2rem;

            .card {
                padding: 0;
                display: grid;
                grid-template-rows: repeat(1, minmax(0, 1fr));
                border: none;
                background-color: white;

                .text-wrapper {
                    padding: 2rem 1rem;
                }

                ul {
                    display: grid;
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    border-bottom: 1px solid var(--color-primary-light);

                    li {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                    }
                }

                img {
                    border-radius: 0.5rem 0.5rem 0 0;
                    max-height: 300px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .price-card {
                    padding: 1rem;
                    background-color: var(--color-primary-light-50);
                    border-radius: 0.5rem;

                    .text-wrapper {
                        padding: 0;
                    }
                }
            }
        }
    }

    .start-journey{
        background-color: var(--color-primary);
        button.primary{
            background-color: white;
            color: var(--color-primary);
        }
    }
}

/*======== MEDIA QUERIES (MEDIUM DEVICES) ======== */
@media screen and (max-width: 1024px) {
    .main-container.products {
        .products {
            .card-container {
                grid-template-columns: none;
            }
        }

    }
}


/*======== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width: 768px) {}