.main-container.faq {
    .faq-container {
        padding: 5rem 20rem;

        .card {
            padding: 1.5rem;

        }

        details {
            overflow: hidden;
        }

        details::details-content {
            /* background-color: red; */
            block-size: 0;
            transition: block-size 0.5s;
        }

        details[open]::details-content {
            block-size: auto;
        }

        summary::marker {
            color: var(--color-primary);
        }

        details[open] {
            summary {
                margin-bottom: 0.5rem;
            }
        }
    }

    .start-journey {
        button {
            background-color: white;
            color: var(--color-primary);
        }
    }
}

/*======== MEDIA QUERIES (MEDIUM DEVICES) ======== */
@media screen and (max-width: 1024px) {
    .main-container.faq {
        .faq-container {
            padding: 5rem 4rem;
        }
    }
}

    /*======== MEDIA QUERIES (SMALL DEVICES) ======== */
    @media screen and (max-width: 768px) {}